uvicorn
fastapi
fastapi_utils
fastapi-limiter
# pydantic
sqlalchemy
passlib
python-multipart
python-jose
psycopg2-binary
werkzeug
awscli
persiantools
requests
pytz
redis
loguru
minio
khayyam
httpx
pandas
xlrd
Pyarrow
asyncpg
python-dotenv
pandas